#bold /*id-based rule*/
{
    font-weight: bold;
}

.teal /*class based rule */
{
    color: teal;
}

h1{
    font-size: 4em;
    color: teal;
    font-weight: bold; 
    text-align: center;
    background-color: ghostwhite;
    font-family: Calibri;
}

h2{
    font-size: 2.5em;
    color: midnightblue;
    font-weight: bold; 
    text-align: center;
    font-family: cursive;
}

h2{
    font-size: 2em;
    color: midnightblue;
    font-weight: bold; 
    
}

p /* element or tag based or*/
{
    font-size: 1.2em;
}

#center{
    font-size: 1.5em;
    text-align: center;
}

td{
    border: 5px solid black;
    width: 100px;
    height: 100px;
    font-size: 80px;
    text-align: center;
    font-family: sans;
}

table {
    border-collapse: collapse;
    margin: 20px 0;
    text-align: center;
}


td:hover {
background-color: #f0f0f0;
}

#turn 
{
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    font-size: 24pt;
    background-color: teal;
    color: white;
    width: 340px;
    text-align: center;
}

td:nth-child(1) 
{
    border-left: none;
}

td:nth-child(3) 
{
    border-right: none;
}

tr:nth-child(1) > td
{
    border-top: none;
}

tr:nth-child(3) > td
{
    border-bottom: none;
}

.image_size {
  width: 300px; /* Set the desired width */
  height: auto; /* Maintain aspect ratio */
  max-width: 100%; /* Ensure it doesn't exceed the container's width */
}