
.teal /*class based rule */
{
    color: teal;
}

#indent{
    text-indent: 30px;
}

h1{
    font-size: 4em;
    color: teal;
    font-weight: bold; 
    text-align: center;
    background-color: rgb(234, 234, 234);
    font-family: Calibri;
}

h2{
    font-size: 2.5em;
    color: rgb(104, 42, 175);
    font-weight: bold; 
    text-align: center;
    font-family: fantasy;
}

h3{
    font-size: 2em;
    color: rgb(86, 32, 147);
    font-weight: bold; 

}

p /* element or tag based or*/
{
    font-size: 1.2em;
}

a{
    color:teal;
    font-size: 1.3em;
    text-decoration: underline;
}

#center{
    font-size: 1.5em;
    text-align: center;
}

td{
    border: 5px solid black;
    width: 100px;
    height: 100px;
    font-size: 80px;
    text-align: center;
    font-family: sans;
    cursor: pointer
}

table {
    border-collapse: collapse;
    margin: 20px;
    text-align: center;
}


td:hover {
background-color: #f0f0f0;
}

#turn 
{
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    font-size: 24pt;
    background-color: teal;
    color: white;
    width: 340px;
    text-align: center;
}

td:nth-child(1) 
{
    border-left: none;
}

td:nth-child(3) 
{
    border-right: none;
}

tr:nth-child(1) > td
{
    border-top: none;
}

tr:nth-child(3) > td
{
    border-bottom: none;
}

.image_size {
  width: 300px; /* Set the desired width */
  height: auto; /* Maintain aspect ratio */
  max-width: 100%; /* Ensure it doesn't exceed the container's width */
}